<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602591248890-kc9hrdgscjv6vnsip76otkvr95qq16jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602591248890-kc9hrdgscjv6vnsip76otkvr95qq16jb</string>
	<key>API_KEY</key>
	<string>AIzaSyDt3tIjR4dj4Jqdj3R4ISbSYDYp7Gq4N94</string>
	<key>GCM_SENDER_ID</key>
	<string>602591248890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mycontacts.mariam.com</string>
	<key>PROJECT_ID</key>
	<string>contacts-614be</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-614be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602591248890:ios:dbf7e93a39d520636de443</string>
</dict>
</plist>